<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Default" 
               name="ServerServiceLibrary.ServerService">
        <endpoint address="" 
                  binding="netTcpBinding"
                  bindingConfiguration="UnsecureNetTcpBinding"
                  name="TCPEndpoint"
                  contract="ServerServiceLibrary.IServerService" />
        <endpoint address="mex" 
                  binding="mexTcpBinding" 
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="UnsecureNetTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>